.profile-blob {
  cursor: pointer;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.profile-blob:hover {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.profile-blob img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 68%; 

}
